
body{
  margin: 0; /* Remove margens padrões */
  padding: 0; /* Remove paddings padrões */
  width: 100%;
  height: 100%; /* Garante que o vídeo cubra toda a tela */
  overflow: hidden; /* Opcional: Evita barras de rolagem */
  background-color: white;
}

.video-background {
  position: fixed;
  z-index: -1;
  object-fit: cover;
}

.App {
  max-width: 80%;
  margin: 0px auto;
  /* tirar seleção de imagens */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 10%;
}

button {
  background: none;
  border: 2px solid white;
  padding: 6px 12px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 20px;
}

button:hover {
  background: #247c41;
  color: #fff;
}

.grid-container {
  /*padding: 40px 60px;
  border-radius: 20px;*/
  background-color: transparent;
  backdrop-filter: blur(10px); /* Apply blur to background */
  border-radius: 40px;
}

.card-grid {
  position: relative;
  display: flex;
  width: 100%;
  height: 400px; /*Define altura da grid => Posições das bolhas se adaptarão de acordo */
}

.scoreboard {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

div.card:nth-child(odd){
  animation-direction: reverse;
}